<a href="https://colab.research.google.com/github/swarthyPig/Machine-learning/blob/master/merge_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from pandas import DataFrame
import numpy as np


th = pd.read_json("http://203.241.246.114:3030/th")
cr = pd.read_json("http://203.241.246.114:3030/cr_value/cr")

iot_th = th[['date', 'temperature', 'humidity']]
iot_cr = cr[['date', 'cr']]

print(iot_th)

print(iot_cr)

                         date temperature humidity
0     2019-05-20 13:22:12.509
1     2019-05-20 13:22:18.511       23.30    51.80
2     2019-05-20 13:22:24.513       23.30    50.70
3     2019-05-20 13:22:30.514       23.60    50.70
4     2019-05-20 13:22:36.514       23.60    51.00
5     2019-05-20 13:22:42.515       23.60    51.40
6     2019-05-20 13:22:48.516       23.60    50.20
7     2019-05-20 13:22:54.518       23.60    51.30
8     2019-05-20 13:23:00.522       23.70    51.40
9     2019-05-20 13:23:06.523       23.60    50.00
10    2019-05-20 13:23:12.524       23.60    51.20
11    2019-05-20 13:23:18.526       23.70    50.10
12    2019-05-20 13:23:24.527       23.70    50.80
13    2019-05-20 13:23:30.528       23.60    50.80
14    2019-05-20 13:23:36.533       23.70    50.60
15    2019-05-20 13:23:42.534       23.60    49.60
16    2019-05-20 13:23:48.537       23.60    49.80
17    2019-05-20 13:23:54.540       23.70    50.30
18    2019-05-20 13:24:00.541       23.60    51.40
19    2019-05-20 13:24:06.543       23.60    50.40
20    2019-05-20 13:24:12.544       23.60    50.30
21    2019-05-20 13:24:18.546       23.60    50.70
22    2019-05-20 13:24:24.549       23.60    51.50
23    2019-05-20 13:24:30.553       23.60    51.40
24    2019-05-20 13:24:36.558       23.60    51.20
25    2019-05-20 13:24:42.559       23.60    50.40
26    2019-05-20 13:24:48.561       23.60    50.40
27    2019-05-20 13:24:54.562       23.60    51.20
28    2019-05-20 13:25:00.566       23.60    51.20
29    2019-05-20 13:25:06.571       23.60    51.10
...                       ...         ...      ...
22026 2019-05-23 01:55:41.638       23.90    44.10
22027 2019-05-23 01:55:47.643       23.90    44.20
22028 2019-05-23 01:55:53.644       23.90    44.20
22029 2019-05-23 01:55:59.645       23.90    44.30
22030 2019-05-23 01:56:05.648       23.90    44.40
22031 2019-05-23 01:56:11.652       24.10    44.20
22032 2019-05-23 01:56:17.656       23.90    44.40
22033 2019-05-23 01:56:23.656       23.90    44.20
22034 2019-05-23 01:56:29.656       23.90    44.30
22035 2019-05-23 01:56:35.659       23.90    44.20
22036 2019-05-23 01:56:41.662       23.90    44.10
22037 2019-05-23 01:56:47.667       23.90    44.20
22038 2019-05-23 01:56:53.667       23.90    44.30
22039 2019-05-23 01:56:59.667       23.90    44.20
22040 2019-05-23 01:57:05.669       23.90    44.30
22041 2019-05-23 01:57:11.673       24.00    44.40
22042 2019-05-23 01:57:17.678       23.90    44.20
22043 2019-05-23 01:57:23.679       23.90    44.40
22044 2019-05-23 01:57:29.681       23.90    44.40
22045 2019-05-23 01:57:35.683       23.90    44.20
22046 2019-05-23 01:57:41.686       23.90    44.20
22047 2019-05-23 01:57:47.691       23.90    44.30
22048 2019-05-23 01:57:53.691       23.90    43.50
22049 2019-05-23 01:57:59.692       23.90    44.20
22050 2019-05-23 01:58:05.694       23.90    44.40
22051 2019-05-23 01:58:11.694       23.90    44.30
22052 2019-05-23 01:58:17.697       23.90    44.20
22053 2019-05-23 01:58:23.698       23.90    44.20
22054 2019-05-23 01:58:29.700       23.90    44.20
22055 2019-05-23 01:58:35.703       23.90    44.20

[22056 rows x 3 columns]
                      date  cr
0  2019-05-20 13:43:45.118   4
1  2019-05-20 14:07:48.288   5
2  2019-05-20 14:35:51.499   4
3  2019-05-20 14:55:54.975   5
4  2019-05-20 15:15:57.875   4
5  2019-05-20 15:45:01.102   5
6  2019-05-20 16:15:04.446   3
7  2019-05-20 16:37:07.570   3
8  2019-05-20 17:03:10.937   5
9  2019-05-20 17:32:14.012   3
10 2019-05-20 17:58:17.067   5
11 2019-05-20 18:24:20.211   3
12 2019-05-20 18:49:23.339   4
13 2019-05-20 19:16:26.524   4
14 2019-05-20 19:46:29.728   5
15 2019-05-20 20:08:32.963   4
16 2019-05-20 20:28:36.130   5
17 2019-05-20 20:50:51.735   5
18 2019-05-20 21:18:46.780   4
19 2019-05-20 21:47:51.357   3
20 2019-05-21 03:42:18.007   5
21 2019-05-21 15:04:47.716   3
22 2019-05-21 15:04:54.730   4
23 2019-05-21 15:32:57.913   5
24 2019-05-21 15:59:00.970   4
25 2019-05-21 16:20:04.149   3
26 2019-05-21 16:42:07.326   3
27 2019-05-22 16:08:07.105   5
28 2019-05-22 16:09:10.833   5
29 2019-05-22 16:09:40.552   3
30 2019-05-22 16:12:45.571   3
31 2019-05-22 16:13:30.547   5

In [0]:
'''
ths와 crs가 담긴 테이터 프레임을 date를 기준으로 outer방식으로 병합한다 
'''
iot_data = pd.merge(iot_th, iot_cr, on='date', how="outer") 
#iot_data.set_index('date',inplace=True) # date를 열로 설정한다

iot_data = iot_data.sort_values(['date'], ascending=[True]) # date를 기준으로 오름차순 정렬

# 온도 습도 값 계산을 위해 형변환
iot_data['temperature'] = pd.to_numeric(iot_data['temperature'])
iot_data['humidity'] = pd.to_numeric(iot_data['humidity'])
iot_data['cr'] = pd.to_numeric(iot_data['cr'])


idx = list(np.where(iot_data['cr'] > 0 )[0])  # cr값이 0보다 큰값에 대한 인덱스 반환


length = len(idx)
for i in range(0,length):
    
    idx_num = idx[i]
    
    # 인덱스를 -1,1로 하면 연속으로 NaN이 있는 부분에서 에러발생. 3초마다 나오는 온도 습도 값의 차이가 거의 없으므로 -1,-2 인덱스로 계산
    iot_data['temperature'].iloc[idx_num] = round((iot_data['temperature'].iloc[idx_num-1] + iot_data['temperature'].iloc[idx_num-2])/2,2)
    iot_data['humidity'].iloc[idx_num] = round((iot_data['humidity'].iloc[idx_num-1] + iot_data['humidity'].iloc[idx_num-2])/2,2)

iot_data = iot_data.iloc[idx] # 전처리가 완료된 데이터 프레임으로 변경

del iot_data['date']

iot_data.to_csv("iot_data.csv", mode='w') # export csv

iot_data

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

        temperature  humidity   cr
492930        21.40     52.20  4.0
492931        22.55     50.60  5.0
492932        22.50     50.50  4.0
492933        21.90     53.45  5.0
492934        21.90     53.50  5.0
492935        21.90     53.60  5.0
492936        21.90     53.10  5.0
492937        21.90     53.25  5.0
492938        21.90     53.25  5.0
492939        21.90     53.52  5.0
492940        21.90     53.39  5.0
492941        21.90     53.46  5.0
492942        21.90     53.42  5.0
492943        21.90     53.44  5.0
492944        21.90     53.30  5.0
492945        21.90     54.40  5.0
492946        21.90     54.55  5.0
492947        22.30     54.00  5.0
492948        22.40     53.65  5.0
492949        22.40     53.95  5.0
492950        22.50     53.90  4.0
492951        22.60     53.70  3.0
492952        22.60     53.70  5.0
492953        22.60     53.70  3.0
492954        22.60     53.70  3.0
492955        22.60     53.25  3.0
492956        22.60     53.45  5.0
492957        22.60     53.70  5.0
492958        22.60     53.70  4.0
492959        22.60     53.70  3.0
...             ...       ...  ...
494527        23.10     50.70  4.0
494528        25.05     47.25  5.0
494529        23.10     43.65  4.0
494530        23.00     42.20  3.0
494531        22.70     39.70  5.0
494532        22.20     39.60  4.0
494533        24.40     46.15  3.0
494534        25.20     44.60  4.0
494535        25.60     44.80  3.0
494536        26.20     44.40  2.0
494537        26.20     44.85  3.0
494538        26.15     44.25  4.0
494539        26.15     44.05  2.0
494540        26.20     44.20  4.0
494541        25.40     46.15  5.0
494542        25.80     45.65  5.0
494543        26.40     44.35  5.0
494544        26.20     45.10  5.0
494545        24.10     47.05  5.0
494546        22.80     42.25  3.0
494547        22.70     41.40  3.0
494548        24.55     40.60  3.0
494549        22.10     40.55  5.0
494550        21.40     38.60  4.0
494551        23.90     39.55  4.0
494552        24.30     40.95  3.0
494553        24.50     41.80  5.0
494554        24.60     41.50  3.0
494555        24.75     42.20  5.0
494556        24.80     42.70  4.0

[1628 rows x 3 columns]

In [0]:
iot_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 598 entries, 379627 to 380224
Data columns (total 3 columns):
temperature    598 non-null float64
humidity       598 non-null float64
cr             598 non-null float64
dtypes: float64(3)
memory usage: 18.7 KB